# Gradle
.gradle/
build/
**/build/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties
local.properties
AndroidStudio.local.properties

# IntelliJ IDEA
.idea/
*.iml
out/

# Kotlin
*.class
*.kotlin_module
.kotlin/
kotlin-js-store/

# Dokka docs generation & Node
docs/dist/
docs/.vitepress/cache/
docs/content/api/
docs/.output/
docs/.nuxt/
docs/node_modules/
docs/public/other/
docs/.data/
*/package-lock.json

# Android
*.apk
*.aab
*.ap_
*.dex
captures/
.externalNativeBuild/
customDebugMappings/
ddmlib/

# Apple / Xcode
**/xcuserdata/

# OS specific
.DS_Store
Thumbs.db
gradle/gradle-daemon-jvm.properties
gradle-daemon-jvm.properties
